/* Nav */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-jack{
    color:  #0AFF61;
}
.nav-title{
    color: #065D56;
    font-size: 40px;
}
nav ul li{
    margin-right: 51px;
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    color: #065D56;
}
.btn{
    background-color: #065D56;
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 6px;
    border: none;
    background-image: linear-gradient( to right,  #289b50, #065D56);
    color: white;
    margin-right: 35px;
}
.btn:hover{
    transition: 0.5s;
    border-radius: 6px;
    color: #065D56;
    background: transparent;
    border: #065D56;
    border-color: #065D56;
}
header{
    background-image: url(photo/circle.png);
    background-size: 1300px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #ecfcf2;
}

/* Banner*/

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 15px 0px 100px;
}
.banner-content{
    width: 580px;
}
.banner-title{
    font-size: 80px;
    color: #065D56;
    font-weight: bolder;
    font-style: italic;
}
p{
    color: gray;
}
.banner-img{
    width: 450px;
    padding-right: 400px;
}

/*Section 1*/

.section-title{
    font-size: 30px;
    color: #065D56;
}
.section{
    text-align: center;
    padding: 150px 200px;
    background-color: #ecfcf2;
    border-radius: 10px;
}
.about-items{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.item-des{
    font-weight: bold;
    justify-content: space-;
    color: #065D56;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* Section 2*/

.section-2{
    text-align: center;
}
